.InputWrapper {
    display: flex;
}

.input {
    background: none;
}

.label {
    margin-right: 10px;
}

.readonly {
    opacity: 0.7;

    .input,
    .input:focus-visible {
        border: none;
        outline: none;
    }

    .InputWrapper:hover,
    .input:hover {
        cursor: default;
    }
}
